img {
  height: auto;
  display: block;
}

body {
  font-family: barlow, sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2, h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --text-color: #191919;
  --btn-color: #FF4D01;
  --title-s-color: #FF4D01;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  text-align: center;
  color: #191919;
  background-color: transparent;
  width: 175px;
  height: 75px;
  border-radius: 2px;
  border: 2px solid #191919;
  cursor: pointer;
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
}
.button:hover {
  color: #FFFFFF;
  background-color: var(--btn-color);
}

.title-signature {
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FF4D01;
  color: var(--title-s-color);
  margin-bottom: 15px;
}

.title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.1481481481;
  color: var(--text-color);
  margin-bottom: 19px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  color: #605E5D;
}

.header {
  position: absolute;
  margin-top: 32px;
  width: 100%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-right: auto;
  margin-left: auto;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 57px;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.header__link {
  font-size: 18px;
  line-height: 1.6666666667;
  color: #FFFFFF;
}
.header__link:hover {
  color: rgba(253, 253, 253, 0.774);
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 129px;
  height: 54px;
  font-size: 16px;
  line-height: 1.125;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
}
.header-btn:hover {
  background-color: var(--btn-color);
}

.hero {
  padding-top: 252px;
  padding-bottom: 344px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 52, 52, 0.6))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(52, 52, 52, 0.6)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1666666667;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}
.hero-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  font-size: 18px;
  line-height: 1.6666666667;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
.hero__btn {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin-right: 25px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 73px;
}

.about-box {
  position: relative;
}

.about-frame {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 204px;
  height: 204px;
  border: 3px solid #FF4D01;
}

.about-text {
  margin-bottom: 57px;
}

.about-list {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 86px;
}
.about-list__figure {
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1666666667;
  color: var(--text-color);
}
.about-list__figure span {
  color: #FF4D01;
}
.about-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  text-align: center;
  color: #989899;
}

.about-button {
  width: 237px;
  color: #191919;
}

.about-title {
  width: 522px;
}

.services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}
.services-box .title {
  max-width: 416px;
}

.services-btn {
  width: 211px;
}
.services-btn:not(:last-child) {
  margin-right: 28px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px 28px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-list li {
  width: 364px;
}
.services-list__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.4117647059;
  color: var(--text-color);
  margin-top: 31px;
  margin-bottom: 15px;
}
.services-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  color: #605E5D;
  margin-bottom: 19px;
}
.services-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
}
.services-list__link:hover {
  color: var(--btn-color);
}
.services-list__link::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: black;
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
}
.services-list__link:hover::before {
  background-color: var(--btn-color);
}

.question {
  margin: 0 auto;
  width: 1440px;
  background-image: url("../images/construction.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.question-container {
  margin-right: auto;
  max-width: 610px;
}/*# sourceMappingURL=main.css.map */