img {
  height: auto;
  display: block;
}

body {
  font-family: barlow, sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2, h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --text-color: #191919;
  --btn-color: #FF4D01;
  --title-s-color: #FF4D01;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  text-align: center;
  color: #191919;
  background-color: transparent;
  width: 175px;
  height: 75px;
  border-radius: 2px;
  border: 2px solid #191919;
  cursor: pointer;
  transition: background-color 500ms, color 500ms;
}
.button:hover {
  color: #FFFFFF;
  background-color: var(--btn-color);
}

.title-signature {
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FF4D01;
  color: var(--title-s-color);
  margin-bottom: 15px;
}

.title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.1481481481;
  color: var(--text-color);
  margin-bottom: 19px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  color: #605E5D;
}

.header {
  position: absolute;
  margin-top: 32px;
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 32px;
  margin-right: auto;
  margin-left: auto;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 57px;
}

.contact-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.header__link {
  font-size: 18px;
  line-height: 1.6666666667;
  color: #FFFFFF;
}
.header__link:hover {
  color: rgba(253, 253, 253, 0.774);
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129px;
  height: 54px;
  font-size: 16px;
  line-height: 1.125;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  transition: background-color 500ms, color 500ms;
}
.header-btn:hover {
  background-color: var(--btn-color);
}

.hero {
  padding-top: 252px;
  padding-bottom: 344px;
  text-align: center;
  background-image: linear-gradient(rgba(52, 52, 52, 0.6)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1666666667;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}
.hero-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  font-size: 18px;
  line-height: 1.6666666667;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
.hero__btn {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin-right: 25px;
}

.about-container {
  display: flex;
  align-items: flex-end;
  gap: 73px;
}

.about-box {
  position: relative;
}

.about-frame {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 204px;
  height: 204px;
  border: 3px solid #FF4D01;
}

.about-text {
  margin-bottom: 57px;
}

.about-list {
  margin-bottom: 48px;
  display: flex;
  gap: 86px;
}
.about-list__figure {
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1666666667;
  color: var(--text-color);
}
.about-list__figure span {
  color: #FF4D01;
}
.about-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  text-align: center;
  color: #989899;
}

.about-button {
  width: 237px;
  color: #191919;
}

.about-title {
  width: 522px;
}

.services-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.services-box .title {
  max-width: 416px;
}

.services-btn {
  width: 211px;
}
.services-btn:not(:last-child) {
  margin-right: 28px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  gap: 80px 28px;
  flex-wrap: wrap;
}
.services-list li {
  width: 364px;
}
.services-list__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.4117647059;
  color: var(--text-color);
  margin-top: 31px;
  margin-bottom: 15px;
}
.services-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  color: #605E5D;
  margin-bottom: 19px;
}
.services-list__link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 500ms, color 500ms;
}
.services-list__link:hover {
  color: var(--btn-color);
}
.services-list__link::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: black;
  transition: background-color 500ms, color 500ms;
}
.services-list__link:hover::before {
  background-color: var(--btn-color);
}

.question {
  width: 1440px;
  background-image: url("../images/construction.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 613px;
}
.question-container {
  padding: 115px 683px 115px 146px;
}
.question-container .text {
  margin-bottom: 35px;
}
.question__btn {
  margin-right: 28px;
}

.benefits-text {
  margin-bottom: 20px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  color: #191919;
}

.benefits-list2 {
  display: flex;
  gap: 40px;
}

.benefits-box1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 82px;
  margin-bottom: 100px;
}

.benefits-box2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 82px;
}

.benefits-frame1 {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 250px;
  height: 250px;
  border: 3px solid #FF4D01;
}

.benefits-frame2 {
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 284px;
  height: 284px;
  border: 3px solid #FF4D01;
}

.blog-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.galery-blog {
  display: flex;
  gap: 24px;
}
.galery-blog__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.galery-blog__list li {
  display: flex;
  align-items: center;
  gap: 24px;
}
.galery-blog__text {
  padding-left: 24px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  color: #605E5D;
}
.galery-blog__title {
  margin-top: 27px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
  color: var(--text-color);
}

.galery-list__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3571428571;
  color: var(--text-color);
}

footer {
  background-color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 202px;
}

.box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #EAEAEB;
}

.box-list {
  margin-top: 35px;
  display: flex;
  gap: 16px;
}
.box-list__item {
  width: 36px;
  height: 36px;
  background-color: var(--btn-color);
}

.menu-list {
  display: flex;
  gap: 28px;
}
.menu-list1 {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.menu-list__link {
  line-height: 1.1111111111;
}

.footer-title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.0909090909;
  color: #FFFFFF;
}

.icon-footer {
  background-color: var(--btn-color);
  fill: #FFFFFF;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts-list__item {
  width: 290px;
  height: 107px;
  border: 2px solid #FF4D01;
}/*# sourceMappingURL=main.css.map */