footer{
     background-color: black;
}
.footer{
    display: flex;
    justify-content: space-between;
   
}
.box{
    width: 202px;
}
.box-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #EAEAEB;

}
.box-list{
    margin-top: 35px;
    display: flex;
    gap: 16px;
    &__item{
        width: 36px;
        height: 36px;
        background-color: var(--btn-color);
    }
}

.menu-list{
    display: flex;
    gap: 28px;
    &1{
display: flex;
flex-direction: column;
    gap: 17px;
    }
    &__link{
        line-height: calc(20/18);
         transition: var(--transition-function);
        &:hover{
            color: var(--btn-color);
        }
    }
}
.footer-title{
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 22px;
    line-height: calc(24/22);
    color: #FFFFFF;

}
.icon-footer{
    padding: 5px;
    background-color: var(--btn-color);
    fill: #FFFFFF;
    border-radius: 5px;
    transition: var(--transition-function);
    &:hover{
        background-color: #FFFFFF;
        fill: var(--btn-color);
    }
}
.contacts-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__link{
        display: flex;
        align-items: center;
        gap: 17px;
        margin-left: 27px;

        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        transition: var(--transition-function);
        &:hover{
            color: var(--btn-color);
        }
        &:hover .icon-footer{
            background-color: #FFFFFF;
        fill: var(--btn-color);
        }

    }
    &__item{
        
        display: flex;
    align-items: center;
    width: 290px;
    height: 107px;
    border: 2px solid #FF4D01;
    }

}